#pagination {
    text-align: center;
}

.pagebtn {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: white;
    border: 1px solid #2b47b7;
    color: #2b47b7;
}

.pagebtn:hover {
    background-color: #2b47b7;
    border: 1px solid blue;
    color: white;
    transition: 0.2s ease-in-out;
}

#clueresultBody tr td input.editable {
    padding: 10px;
}

#pagination .active {
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #2b47b7;
    border: 1px solid blue;
    color: white;
    transform: scale(1.2);
}

#pagination button[name="previous"],
#pagination button[name="next"] {
    padding: 8px;
    margin: 5px;
    background-color: white;
    border: 1px solid #2b47b7;
    color: #2b47b7;
}

#pagination button[name="previous"]:hover,
#pagination button[name="next"]:hover {
    background-color: #2b47b7;
    border: 1px solid blue;
    color: white;
    transition: 0.2s ease-in-out;
}

#clueresultBody tr td select {
    padding: 10px;
    border: 1px solid #2b47b7;
    width: 180px;
}

#search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#search-container label {
    margin-right: auto;
    font-size: 18px;
    color: #2e4c8c;
}

#search-container input {
    margin-left: auto;
    width: 200px;
    border: 2px solid #2b47b7;
    padding: 10px;
}

#filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

#filter-container label {
    margin-right: auto;
    font-size: 18px;
    color: #2e4c8c
}

#filter-container select {
    margin-left: auto;
    width: 225px;
    border: 2px solid #2b47b7;
    padding: 10px;
}