html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../static/image.png);
    background-size: 110%;
    color: white;
    text-align: center;
    height: 100px;
}